In [ ]:
# importing some libraries

from pyspark.context import SparkContext
import pandas as pd
import pyspark
from pyspark.sql import SQLContext

In [24]:
import glob

books = []

path = '../../data/texts/English/'

for filepath in glob.glob(os.path.join(path, '*.txt')):
    with open(os.path.join(os.getcwd(), filepath), 'r') as file:
        data = file.read().replace('\n', '')
        filename = filepath.replace(path, "", 1)
        name = filename.replace(".txt", "", 1)
        books.append((name, data))

df = pd.DataFrame(books, columns =[['Name','Text']])

df

,Name,Text
0,Captains Courageous - Rudyard Kipling,Rudyard KiplingCAPTAINS COURAGEOUSCHAPTER IThe...
1,Dracula - Bram Stoker,Bram StokerDraculaPrefaceHow these papers have...
2,Three Men in a Boat (to Say Nothing of The Dog...,Jerome K. JeromeTHREE MEN IN A BOAT(TO SAY NOT...
3,"Bush Boys, The - Mayne Reid",Captain Mayne ReidThe Bush BoysChapter One.The...
4,Macbeth - William Shakespeare,"William ShakespeareMacbethAct I, Scene 1A dese..."
5,"Coral Island, The - Robert Michael Ballantyne",PrefaceI was a boy when I went through the won...
6,"Study In Scarlet, A - Arthur Conan Doyle",Arthur Conan DoyleA STUDY IN SCARLETPART I(Bei...
7,"Valley of Fear, The - Arthur Conan Doyle",Sir Arthur Conan DoyleTHE VALLEY OF FEARPart I...
8,"Pirate of the Mediterranean, The - W.H.G. King...",W.H.G. KingstonThe Pirate of the Mediterranean...
9,"Lost World, The - Arthur Conan Doyle",Sir Arthur Conan DoyleTHE LOST WORLDI have wro...
10,"Call of the Wild, The - Jack London",Jack LondonTHE CALL OF THE WILDChapter I. Into...
11,Jane Eyre - Charlotte Bronte,PREFACEApreface to the first edition of “Jane ...
12,"King's Own, The - Frederick Marryat",Frederick MarryatThe King's OwnChapter One.How...
13,Through the Looking-Glass - Lewis Carroll,Lewis CarrollTHROUGH THE LOOKING-GLASSCHAPTER ...
14,Sherlock Holmes - Arthur Conan Doyle,Sir Arthur Conan DoyleSHERLOCK HOLMESA STUDY I...
15,Emma - Jane Austen,Jane AustenEMMAVOLUME ICHAPTER IEmma Woodhouse...
16,Alice's Adventures in Wonderland - Lewis Carroll,Lewis CarrollALICE’S ADVENTURES IN WONDERLANDC...
17,"Iron Heel, The - Jack London","Jack LondonThe Iron Heel""At first, this Earth,..."
18,"Adventures of Huckleberry Finn, The - Mark Twain",Mark TwainTHE ADVENTURES OF HUCKLEBERRY FINN(T...
19,"Adventures of Sherlock Holmes, The - Arthur Co...",Sir Arthur Conan DoyleTHE ADVENTURES OF SHERLO...
20,His Last Bow - Arthur Conan Doyle,Sir Arthur Conan DoyleHIS LAST BOWI. The Adven...
21,Pride and Prejudice - Jane Austen,Jane AustenPRIDE AND PREJUDICEVolume OneCHAPTE...
22,"Connecticut Yankee in King Arthur's Court, A -...",MARK TWAINA CONNECTICUT YANKEEIN KING ARTHUR'S...
23,"Return of Sherlock Holmes, The - Arthur Conan ...",Sir Arthur Conan DoyleTHE RETURN OF SHERLOCK H...
24,In Freedom's Cause - G. A. Henty,G. A. HentyIN FREEDOM’S CAUSEPrefaceMY DEAR LA...
25,"Scalp Hunters, The - Captain Mayne Reid",Captain Mayne ReidTHE SCALP HUNTERSChapter One...
26,"Sign of the Four, The - Sir Arthur Conan Doyle",Sir Arthur Conan DoyleThe Sign of the FourChap...
27,"Phantom Ship, The - Frederick Marryat",Frederick MarryatTHE PHANTOM SHIPChapter OneAb...
28,Oliver Twist - Charles Dickens,Charles DickensOLIVER TWISTList of CharactersO...
29,"Frankenstein, or the Modern Prometheus - Mary ...","Mary Wollstonecraft ShelleyFRANKENSTEIN, OR TH..."
30,Master of Ballantrae - Robert Louis Stevenson,Robert Louis StevensonThe Master of Ballantrae...
31,"Strange Case of Dr. Jekyll and Mr. Hyde, The -...",ROBERT LOUIS STEVENSONTHE STRANGE CASE OF DR. ...
32,"Adventures of Captain Horn, The - Frank R. Sto...",Frank Richard StocktonTHE ADVENTURES OF CAPTAI...
33,2012 20 eink - Unknown,Paranoik Team в составе:Николай ТурубарВиола П...
34,"Deerslayer, The - James Fenimore Cooper",James Fenimore CooperTHE DEERSLAYERChapter I“T...
35,"Essays, The - Francis Bacon","Francis BaconTHE ESSAYS OR COUNSELS,CIVIL AND ..."
36,Peter Pan - James Matthew Barrie,James Matthew BarriePETER PANChapter 1. PETER ...
37,Walden - Henry David Thoreau,Henry David ThoreauWALDENEconomyWhen I wrote t...
38,"House of the Seven Gables, The - Nathaniel Haw...",Introductory Note.In September of the year dur...
39,"Happy Prince and Other Tales, The - Oscar Wilde",Oscar WildeThe Happy Prince and Other TalesTHE...
40,Martin Eden - Jack London,Jack LondonMARTIN EDENCHAPTER IThe one opened ...
41,"Adventures of Tom Sawyer, The - Mark Twain",Mark TwainTHE ADVENTURES OF TOM SAWYERIllustra...
42,"Pirate of the Caribbees, A - Harry Collingwood",Harry CollingwoodA Pirate of the CaribbeesChap...
43,Romeo and Juliet - William Shakespeare,William ShakespeareRomeo and JulietPrologueCho...
44,"Memoirs of Sherlock Holmes, The - Arthur Conan...",Sir Arthur Conan DoyleTHE MEMOIRS OF SHERLOCK ...
45,Paradise lost - John Milton,John MiltonPARADISE LOSTBOOK IOf Mans First Di...
46,"Sea-Wolf, The - Jack London",Jack LondonThe Sea-WolfCHAPTER IIscarcely know...
47,"Headless Horseman, The - Captain Mayne Reid",Captain Mayne ReidTHE HEADLESS HORSEMANA Stran...
48,Before Adam - Jack London,"Jack LondonBEFORE ADAM""These are our ancestors..."
49,"Hunting of the Snark, The - Lewis Carroll",Lewis CarrollTHE HUNTING OF THE SNARKPREFACEIf...
50,"Case-Book of Sherlock Holmes, The - Arthur Con...",Sir Arthur Conan DoyleTHE CASE-BOOK OF SHERLOC...
51,Gulliver's Travelsinto Several Remote Nations ...,Jonathan SwiftGULLIVER’S TRAVELSinto Several R...

In [5]:
# check if spark context is defined
sc = SparkContext('local').getOrCreate()
print(sc.version)

3.1.1

In [25]:

sqlContext = SQLContext(sc)
# stuff we'll need for text processing
from nltk.corpus import stopwords
import re as re
from pyspark.ml.feature import CountVectorizer , IDF
# stuff we'll need for building the model

from pyspark.mllib.linalg import Vector, Vectors
from pyspark.mllib.clustering import LDA, LDAModel
# reading the data
data = sqlContext.read.format("csv") \
   .options(header='true', inferschema='true') \
   .load(os.path.realpath("Womens Clothing E-Commerce Reviews.csv"))

AnalysisException: Path does not exist: file:/Users/Tobias/Documents/Studium/Master/Semester/AE_Dabrowski/beleg/project/src/Womens Clothing E-Commerce Reviews.csv